@use "./variables.scss" as *;

// put your custom CSS here!

:root {
  --appleSans: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "SF Pro Display",
    "SF Pro Text", "Helvetica Neue", "Segoe UI", Roboto, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --appleMono: "SFMono-Regular", "SF Mono", ui-monospace, Menlo, Consolas, monospace;

  --titleFont: var(--appleSans);
  --headerFont: var(--appleSans);
  --bodyFont: var(--appleSans);
  --codeFont: var(--appleMono);
}
